.centeredContainer {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paper {
    padding: 48px;
    width: 100%;
    max-width: 400px;
    background-color: var(--mui-palette-background-paper);
}

.title {
    margin-bottom: 16px;
}

.description {
    margin-bottom: 32px;
    color: var(--mui-palette-text-secondary);
}
